@{
    Layout = "_LayoutResponsavel";
}
@model Contato

<div class="row">
      <div class=" offset-xl-4 col-12 col-md-6 offset-md-3 col-xl-4 secao border-1 border rounded-3 p-3 text-center">
        <div>
          <h1 class="py-2">Editar Contato:</h1>
        </div>
        <div>
          <form method="POST">
            <div class="form-group py-2 text-align">
              <label asp-for="@Model.Nome">Nome Completo:</label>
              <input type="text" class="form-control shadow-none" id="nome" placeholder="Nícolas Sanson Bassini" asp-for="@Model.Nome">
            </div>
            <div class="form-group py-2 text-align">
              <label asp-for="@Model.Telefone">Telefone/Celular:</label>
              <input type="text" class="form-control shadow-none" id="telefone" placeholder="(XX) XXXXX-XXXX" asp-for="@Model.Telefone">
            </div>
            <div class="form-group py-2 text-align">
              <label asp-for="@Model.Email">Email:</label>
              <input type="text" class="form-control shadow-none" id="email" placeholder="nicleis@gmail.com" asp-for="@Model.Email">
            </div>
            <div class="form-group py-2 text-align">
              <label asp-for="@Model.Cargo">Cargo:</label>
              <input type="text" class="form-control shadow-none" id="cargo" placeholder="Gerente" asp-for="@Model.Cargo">
            </div>

            <div class="py-4">
              <button type="submit" class="btn btn-primary botao">Salvar 🆗</button>
            </div>
          </form>
        </div>
      </div>
    </div>