@{
    Layout = "_LayoutAdmin";
}
@model List<Estabelecimento>
<div class="row">
            <table class="table table-striped table-hover tabela">
                <h2 class="text-center">Estabelecimentos Cadastrados</h2>
                <thead>
                    <tr>
                        <th scope="col">Nome Fantasia</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Fixo</th>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Razão Social</th>
                        <th scope="col">Media Avaliação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var estabelecimento in Model)
                    {
                        <tr>
                        <th scope="row">@estabelecimento.NomeFantasia</th>
                        <td>@estabelecimento.Celular</td>
                        <td>@estabelecimento.TelefoneFixo</td>
                        <td>@estabelecimento.CNPJ</td>
                        <td>@estabelecimento.RazaoSocial</td>
                        <td>@estabelecimento.MediaAvaliacao</td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>