@{
    Layout = "_LayoutBusca";
}

@model List<Acomodacao>

<div class="row">
    <div class="col-lg-3 d-none d-lg-block">
        <!--Barra Lateral -->
        <div class="border-1 border rounded-3 secao p-3">
            <h3>Filtros: </h3>
            <hr>
            <h3 class="mb-3">Serviços</h3><!-- menu normal-->
            <div class="mb-1">
                <input type="checkbox" id="cafe_da_manha" name="cafe_da_manha">
                <label for="cafe_da_manha">Café da Manhã</label>
            </div>

            <h3 class="my-3">Opções de Quarto</h3>
            <div class="mb-1">
                <input type="checkbox" id="ar_condicionado" name="ar_condicionado">
                <label for="ar_condicionado">Ar-condicionado</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="chuveiro" name="chuveiro">
                <label for="chuveiro">Chuveiro</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="elevador" name="elevador">
                <label for="elevador">Elevador</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="Tv" name="Tv">
                <label for="Tv">Tv</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="frigobar" name="frigobar">
                <label for="frigobar">Frigobar</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="secador" name="secador">
                <label for="secador">Secador de cabelo</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="varanda" name="varanda">
                <label for="varanda">Varanda</label>
            </div>

            <h3 class="my-3">Opções de Localidade</h3>
            <div class="mb-1">
                <input type="checkbox" id="beira_mar" name="beira_mar">
                <label for="beira_mar">Beira-mar</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="centro_comercial" name="centro_comercial">
                <label for="centro_comercial">Centro comercial</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="interior" name="interior">
                <label for="interior">Interior</label>
            </div>
            <div class="d-flex justify-content-center mt-3"><button class="botao-destaque"><i
                        class="bi bi-funnel-fill"></i></button></div>
        </div>
    </div>
    <div class="col-12 col-lg-9 green">
        <!-- Conteúdo Principal -->
        <div class="row g-3 align-items-stretch">
            @foreach (var acomodacao in Model)
            {
                <div class="col-12 col-md-6 col-xl-4">
                <div class="card h-100">
                    <img src="~/img/ex01.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@acomodacao.Responsavel.NomeFantasia</h5>
                        <p class="card-text">
                            @acomodacao.Descricao <br>
                            @acomodacao.Responsavel.Endereco.Cidade, @acomodacao.Responsavel.Endereco.Estado, @acomodacao.Responsavel.Endereco.Pais <br>
                            @acomodacao.Responsavel.Endereco.Logradouro, @acomodacao.Responsavel.Endereco.Numero
                        </p>
                        <div class="card-text estrelas">
                            @if (acomodacao.MediaAvaliacaoQuarto>4.5)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 4)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 3.5)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 3)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 2.5)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 2)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 1.5)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 1)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 0.5)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            } else if (acomodacao.MediaAvaliacaoQuarto > 0)
                            {
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            } else
                            {
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <h4>R$ @acomodacao.ValorDiaria</h4>
                            </div>
                            <div class="col-6 text-end"><a asp-action="Index" asp-controller="Alugar" asp-route-id="@acomodacao.IdAcomodacao" class="btn btn-primary botao">Detalhes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            
        </div>
    </div>
</div>
