@model Acomodacao;
<div class="row">
    <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-7 col-xl-6 offset-xl-1">
        <div class="border-1 border rounded-3 secao p-3 fit-content text-center">

            <h3>@Model.Responsavel.NomeFantasia, nº @Model.Numero</h3>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    @foreach (var imagem in @Model.ArquivosImagens)
                    {
                        var i = @Model.ArquivosImagens.IndexOf(imagem).ToString("D6");
                        <div class="carousel-item active">
                        <img src='~/img/acomodacao/@Model.IdAcomodacao.ToString("D6")/@i .jpg' class="d-block w-100" alt="...">
                    </div>
                    }
                    
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <h3>Inclui:</h3>
            <input type="checkbox" id="suite" name="suite" checked>
            <label for="suite">Suíte</label>
            <input type="checkbox" id="animais" name="animais" checked>
            <label for="animais">Permitido animais</label>
            <input type="checkbox" id="cafe" name="cafe" checked>
            <label for="cafe">Café da manhã</label>
            <input type="checkbox" id="wifi" name="wifi" checked>
            <label for="wifi">Wi-fi</label>

        </div>

    </div>
    <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-5 col-xl-4">
        <div class="border-1 border rounded-3 secao p-3 mt-3 mt-lg-0">
            <h3 class="text-center">Descrição da acomodação: </h3>
            <p>Breve descrição do quarto de hotel ou pousada que servirá como identificação e diferencial
            </p>
            <h3 class="text-center">Selecione as opções para aluguel: </h3>
            <div class="row my-4 text-left">
                <div class="col-4"><label for="pessoas">Número de Pessoas: </label>
                <span class="text-danger text-sm" asp-validation-for="@Model.QtdePessoas"></span>
                </div>
                <div class="col-8">
                    <select class="form-select shadow-none" id="pessoas">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

            <div class="row my-4 text-left">
                <div class="col-4"><label for="mes">Mês da Viagem</label>
                </div>
                <div class="col-8">
                    <select class="form-select shadow-none" id="mes">
                        <option selected value="1">Setembro 2022</option>
                        <option value="2">Outubro 2022</option>
                        <option value="3">Novembro 2022</option>
                        <option value="4">Dezembro 2022</option>
                        <option value="5">Janeiro 2023</option>
                    </select>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-4"><label for="dia">Dia de Ida</label>
                </div>
                <div class="col-8">
                    <select class="form-select shadow-none" id="dia">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-4"><label for="periodo">Período de Estadia</label>
                </div>
                <div class="col-8">
                    <select class="form-select shadow-none" id="periodo">
                        <option selected value="1">1 Dia</option>
                        <option value="2">2 Dias</option>
                        <option value="3">3 Dias</option>
                        <option value="4">4 Dias</option>
                        <option value="5">5 Dias</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-7">
                    <h3>Valor: R$ 999,99</h3>
                </div>
                <div class="col-5 text-end"><a href="alugar.html" class="btn btn-primary botao">Próximo</a>
                </div>
            </div>


        </div>

    </div>
</div>