@{
    Layout = "_LayoutVazio";
}
@model Cliente;
<div class="row align-items-center vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4 offset-md-2 offset-lg-3 offset-xl-3 offset-xxl-4 border-1 border rounded-3 p-3 secao">
        <div class="py-2">
            <div>
                <h2 class="py-2 text-center">Editar informações:</h2>
            </div>
            <div>
                <div id="ent_usuario">
                    <form method="post">
                        <div class="col-12">
                            <div class="form-group py-2">
                                <label asp-for="@Model.Nome">Nome:</label>
                                <input type="text" class="form-control shadow-none" asp-for="@Model.Nome">
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="form-group py-2">
                                <label asp-for="@Model.Email">E-mail:</label>
                                <input type="email" class="form-control shadow-none" asp-for="@Model.Email">
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-6">
                                <div class="form-group py-2">
                                    <label asp-for="@Model.Telefone">Telefone:</label>
                                    <input type="text" class="form-control shadow-none" asp-for="@Model.Telefone">
                                </div>
                            </div>
                            <div class="col-6">
                                    <div class="form-group py-2">
                                        <label asp-for="@Model.Senha">Senha:</label>
                                        <input type="password" class="form-control shadow-none" asp-for="@Model.Senha">
                                    </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="py-3">
                                <button type="submit" class="btn btn-primary botao">Salvar 🆗</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>