@{
    Layout = "_LayoutVazio";
}

@model CadastroResponsavelViewModel

<div class="row align-items-center vh-100">
    <form method="POST">
        <div
            class="col-12 col-md-8 col-lg-6 col-xxl-4 offset-md-2 offset-lg-3 offset-xl-3 offset-xxl-4 border-1 border rounded-3 p-3 secao" id="responsavel">
            <div class="text-center">
                    <img src="~/img/logo_escrita_dark.svg" style="height: 40px;">
                </div>
            <div class="py-2">
                <div>
                    <h2 class="py-2 text-center">Efetuar cadastro:</h1>
                </div>
                <div>
                    <div class="text-center">
                        <a asp-action="Create" asp-controller="Cliente"
                            class="botao-destaque shadow-none text-decoration-none">Para Você</a>
                        <a type="button" class="botao-destaque shadow-none text-decoration-none selecionado">Para sua
                            empresa</a>
                    </div>

                    <div id="ent_hoteleiro">
                        <div class="col-12">
                            <div class="form-group py-2">
                                <label asp-for=@Model.Nome><span id="nome" onclick="descricao(this)">Nome
                                        completo:</span></label>
                                <input type="text" class="form-control shadow-none" asp-for=@Model.Nome>
                                <span class="text-danger text-sm" asp-validation-for="@Model.Nome"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group py-2">
                                <label asp-for=@Model.Email><span id="email"
                                        onclick="descricao(this)">E-mail:</span></label>
                                <input type="email" class="form-control shadow-none" asp-for=@Model.Email>
                                <span class="text-danger text-sm" asp-validation-for="@Model.Email"></span>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-6">
                                <div class="form-group py-2">
                                    <label asp-for=@Model.Cpf><span id="cpf"
                                            onclick="descricao(this)">CPF:</span></label>
                                    <input type="text" class="form-control shadow-none" asp-for=@Model.Cpf>
                                    <span class="text-danger text-sm" asp-validation-for="@Model.Cpf"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group py-2">
                                    <label asp-for=@Model.DataNascimento><span id="dtnasc"
                                            onclick="descricao(this)">Data de nascimento:</span></label>
                                    <input type="date" class="form-control shadow-none" asp-for=@Model.DataNascimento>
                                    <span class="text-danger text-sm" asp-validation-for="@Model.DataNascimento"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-6">
                                <div class="form-group py-2">
                                    <label asp-for=@Model.Celular><span id="cel" onclick="descricao(this)">Telefone
                                            celular:</span></label>
                                    <input type="text" class="form-control shadow-none" asp-for=@Model.Celular>
                                    <span class="text-danger text-sm" asp-validation-for="@Model.Celular"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group py-2">
                                    <label asp-for=@Model.Telefone><span id="fixo" onclick="descricao(this)">Telefone
                                            fixo:</span></label>
                                    <input type="text" class="form-control shadow-none" asp-for=@Model.Telefone>
                                    <span class="text-danger text-sm" asp-validation-for="@Model.Telefone"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 ">
                            <div class="col-6">
                                <div class="form-group py-2 ">
                                    <label asp-for=@Model.Sexo><span id="sexo"
                                            onclick="descricao(this)">Sexo:</span></label>
                                    <span class="text-danger text-sm" asp-validation-for="@Model.Sexo"></span>
                                    <select class="form-select shadow-none" id="SelectGrid">
                                        <option value="1">Masculino</option>
                                        <option value="2">Feminino</option>
                                        <option value="3" selected>Prefiro não informar</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="form-group py-2">
                                    <label asp-for=@Model.Cnpj><span id="cnpj"
                                            onclick="descricao(this)">CNPJ:</span></label>
                                    <input type="text" class="form-control shadow-none" asp-for=@Model.Cnpj>
                                    <span class="text-danger text-sm" asp-validation-for="@Model.Cnpj"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group py-2">
                                <label asp-for=@Model.RazaoSocial><span id="rzsocial" onclick="descricao(this)">Razão
                                        Social:</span></label>
                                <input type="text" class="form-control shadow-none" asp-for=@Model.RazaoSocial>
                                <span class="text-danger text-sm" asp-validation-for="@Model.RazaoSocial"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group py-2">
                                <label asp-for=@Model.NomeFantasia><span id="nmfantasia" onclick="descricao(this)">Nome
                                        fantasia:</span></label>
                                <input type="text" class="form-control shadow-none" asp-for=@Model.NomeFantasia>
                                <span class="text-danger text-sm" asp-validation-for="@Model.NomeFantasia"></span>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-6">
                                <div class="form-group py-2">
                                    <label asp-for=@Model.Senha><span id="senha"
                                            onclick="descricao(this)">Senha:</span></label>
                                    <input type="password" class="form-control shadow-none" asp-for=@Model.Senha>
                                    <span class="text-danger text-sm" asp-validation-for="@Model.Senha"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group py-2">
                                    <label asp-for=@Model.ConfSenha><span id="confsenha"
                                            onclick="descricao(this)">Confirmar senha:</span></label>
                                    <input type="password" class="form-control shadow-none" asp-for=@Model.ConfSenha>
                                <span class="text-danger text-sm" asp-validation-for="@Model.ConfSenha"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <span id="message"></span>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="botao" id="proximo" onclick="avancar()">Avançar</button>
                            <p class="pt-2">Já tem uma conta? Efetue <a asp-action="Login"
                                    asp-controller="Usuario">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 border-1 border rounded-3 p-3 secao" id="endereco">
            <div class="py-2">
                <div>
                    <h2 class="py-2 text-center">Cadastrar Endereço: </h1>
                </div>
                <div>
                    <div class="form-group py-2">
                        <label asp-for="@Model.Pais">País:</label>
                        <input type="text" class="form-control shadow-none" id="pais" asp-for="@Model.Pais">
                        <span class="text-danger text-sm" asp-validation-for="@Model.Pais"></span>
                    </div>
                    <div class="form-group py-2">
                        <label asp-for="@Model.Estado">Estado:</label>
                        <input type="text" class="form-control shadow-none" id="estado" asp-for="@Model.Estado">
                        <span class="text-danger text-sm" asp-validation-for="@Model.Estado"></span>
                    </div>
                    <div class="form-group py-2">
                        <label asp-for="@Model.Cidade">Cidade:</label>
                        <input type="text" class="form-control shadow-none" id="cidade" asp-for="@Model.Cidade">
                        <span class="text-danger text-sm" asp-validation-for="@Model.Cidade"></span>
                    </div>

                    <div class="form-group py-2">
                        <label asp-for="@Model.Logradouro">Logradouro:</label>
                        <input type="text" class="form-control shadow-none" id="logradouro" asp-for="@Model.Logradouro">
                        <span class="text-danger text-sm" asp-validation-for="@Model.Logradouro"></span>
                    </div>
                    <div class="form-group py-2">
                        <label asp-for="@Model.Bairro">Bairro:</label>
                        <input type="text" class="form-control shadow-none" id="bairro" asp-for="@Model.Bairro">
                        <span class="text-danger text-sm" asp-validation-for="@Model.Bairro"></span>
                    </div>
                    <div class="form-group py-2 d-flex">
                        <div class="col-8 pe-1">
                            <label asp-for="@Model.Cep">CEP:</label>
                            <input type="text" class="form-control shadow-none" id="cep" asp-for="@Model.Cep">
                            <span class="text-danger text-sm" asp-validation-for="@Model.Cep"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="@Model.Numero">Número:</label>
                            <input type="text" class="form-control shadow-none" id="numero" asp-for="@Model.Numero">
                            <span class="text-danger text-sm" asp-validation-for="@Model.Numero"></span>
                        </div>
                    </div>
                    <div class="form-group py-2">
                        <label asp-for="@Model.Complemento">Complemento:</label>
                        <input type="text" class="form-control shadow-none" id="complemento"
                            asp-for="@Model.Complemento">
                        <span class="text-danger text-sm" asp-validation-for="@Model.Complemento"></span>
                    </div>
                    <div class="text-center">
                        <div class="py-4">
                            <button type="button" class="botao-destaque" onclick="voltar()">Voltar</button>
                            <button type="submit" class="botao">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/js/script_registro_responsavel.js" defer></script>