@model Endereco

<div class="row">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 border-1 border rounded-3 p-3 secao">
                <div class="py-2">
                    <div>
                        <h2 class="py-2 text-center">Cadastrar Endereço: </h1>
                    </div>
                    <div>
                        <form method="POST">
                            <div class="form-group py-2">
                                <label asp-for="@Model.Pais">País:</label>
                                <input type="text" class="form-control shadow-none" id="pais" asp-for="@Model.Pais">
                            </div>
                            <div class="form-group py-2">
                                <label asp-for="@Model.Estado">Estado:</label>
                                <input type="text" class="form-control shadow-none" id="estado" asp-for="@Model.Estado">
                            </div>
                            <div class="form-group py-2">
                                <label asp-for="@Model.Cidade">Cidade:</label>
                                <input type="text" class="form-control shadow-none" id="cidade" asp-for="@Model.Cidade">
                            </div>
                            
                            <div class="form-group py-2">
                                <label asp-for="@Model.Logradouro">Logradouro:</label>
                                <input type="text" class="form-control shadow-none" id="logradouro" asp-for="@Model.Logradouro">
                            </div>
                            <div class="form-group py-2">
                                <label asp-for="@Model.Bairro">Bairro:</label>
                                    <input type="text" class="form-control shadow-none" id="bairro" asp-for="@Model.Bairro">
                            </div>
                            <div class="form-group py-2 d-flex">
                                <div class="col-8 pe-1">
                                    <label asp-for="@Model.Cep">CEP:</label>
                                <input type="text" class="form-control shadow-none" id="cep" asp-for="@Model.Cep">
                                </div>
                                <div class="col-4">
                                    <label asp-for="@Model.Numero">Número:</label>
                                    <input type="text" class="form-control shadow-none" id="numero" asp-for="@Model.Numero">
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <label asp-for="@Model.Complemento">Complemento:</label>
                                <input type="text" class="form-control shadow-none" id="complemento" asp-for="@Model.Complemento">
                            </div>
                            <div class="text-center">
                                <div class="py-4">
                                    <button type="submit" class="btn btn-primary botao">Confirmar ✅</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>