@model List<Endereco>

<a class="botao-destaque my-1 my-md-2 text-center" style="width: 16px;" type="button" asp-controller="Endereco" asp-action="Create">
        <i class="bi bi-plus-lg" style="font-size: 16px; line-height: 16px;"></i>
    </a>

<div class="row">
            <table class="table table-striped table-hover tabela">
                <h2 class="text-center">Enderecos Cadastrados</h2>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Número</th>
                        <th scope="col">Complemento</th>
                        <th scope="col">CEP</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Estado</th>
                        <th scope="col">País</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var endereco in Model)
                    {
                        <tr>
                        <th scope="row">@endereco.IdEndereco</th>
                        <td>@endereco.Logradouro</td>
                        <td>@endereco.Bairro</td>
                        <td>@endereco.Numero</td>
                        <td>@endereco.Complemento</td>
                        <td>@endereco.Cep</td>
                        <td>@endereco.Cidade</td>
                        <td>@endereco.Estado</td>
                        <td>@endereco.Pais</td>
                        <td><a asp-action="Edit" asp-route-id="@endereco.IdEndereco"><i class="bi bi-pencil-square" style="font-size: 16px; line-height: 16px;"></i></a></td>
                        <td><a asp-action="Delete" asp-route-id="@endereco.IdEndereco"><i class="bi-trash" style="font-size: 16px; line-height: 16px;"></i></a></td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>